In [1]:
import pandas as pd
import numpy as np
import scipy as sp
import os
import matplotlib.pyplot as plt

import csv
from io import StringIO
import subprocess

%matplotlib inline

In [28]:
files = os.listdir("/Users/wenshuaiye/Downloads/ICDM")
icdm_df = {}
for f in files:
    f_list = f.split('.')
    if f_list[-1] == 'csv':
        print f
        icdm_df[f_list[0]] = pd.read_csv("/Users/wenshuaiye/Downloads/ICDM/"+f)

cookie_all_basic.csv
dev_test_basic.csv
dev_train_basic.csv
id_all_ip.csv
id_all_property.csv
ipagg_all.csv
property_category.csv
sampleSubmission.csv

In [13]:
icdm_df["dev_train_basic"].drawbridge_handle.unique().shape

(139419,)

In [29]:
icdm_df["id_all_property"].head()

,device_or_cookie_id,device_or_cookie_indicator,property_id,unique_days_seeing_property_on_device_or_cookie_id
0,id_558314,1,property_66021,7
1,id_558314,1,property_24444,1
2,id_558314,1,property_285395,6
3,id_558314,1,property_267459,1
4,id_558314,1,property_197052,14

In [30]:
icdm_df["id_all_property"].shape

(103928872, 4)

In [14]:
icdm_df["sampleSubmission"].head()

    device_id cookie_id
0        id_1     id_10
1   id_100002     id_10
2  id_1000035     id_10
3  id_1000099     id_10
4  id_1000294     id_10

In [19]:
icdm_df["id_all_ip"][icdm_df["id_all_ip"]["device_or_cookie_indicator"] == 0].head()

,device_or_cookie_id,device_or_cookie_indicator,ip,ip_freq_count,idxip_anonymous_c1,idxip_anonymous_c2,idxip_anonymous_c3,idxip_anonymous_c4,idxip_anonymous_c5
31249705,id_4676078,0,ip4110970,87,0,87,1,0,1
31249706,id_4676078,0,ip20364193,73,73,6,2,3,1
31249707,id_4676078,0,ip8232100,223,223,177,1,1,1
31249708,id_4676078,0,ip1078323,4,0,4,1,0,1
31249709,id_4676078,0,ip14290649,1,1,1,1,1,1

In [10]:
icdm_df["dev_train_basic"].head()

,drawbridge_handle,device_id,device_type,device_os,country,anonymous_c0,anonymous_c1,anonymous_c2,anonymous_5,anonymous_6,anonymous_7
0,handle_292447,id_1000002,devtype_2,devos_138,country_146,1,anonymous_c1_331,anonymous_c2_23084,34,1,204
1,handle_1272807,id_1000061,devtype_2,devos_157,country_146,0,anonymous_c1_1350,anonymous_c2_3147,51,1,203
2,handle_1644226,id_1000068,devtype_2,devos_157,country_146,0,anonymous_c1_1166,anonymous_c2_11093,41,1,204
3,handle_1634852,id_1000149,devtype_4,devos_133,country_146,1,anonymous_c1_1260,anonymous_c2_2456,10,25,198
4,handle_1189159,id_1000202,devtype_4,devos_7,country_146,0,anonymous_c1_917,anonymous_c2_19317,5,1,204

In [15]:
icdm_df["cookie_all_basic"].head()

,drawbridge_handle,cookie_id,computer_os_type,computer_browser_version,country,anonymous_c0,anonymous_c1,anonymous_c2,anonymous_5,anonymous_6,anonymous_7
0,-1,id_10,computer_os_type_203,computer_browser_version_1158,country_146,1,anonymous_c1_1307,anonymous_c2_18778,15,1,204
1,handle_609762,id_100,computer_os_type_133,computer_browser_version_875,country_146,1,anonymous_c1_753,-1,41,1,204
2,handle_1622320,id_1000,computer_os_type_203,computer_browser_version_36,country_146,0,anonymous_c1_906,anonymous_c2_751,40,140,204
3,-1,id_10000,computer_os_type_203,computer_browser_version_36,country_146,1,anonymous_c1_255,anonymous_c2_2725,34,140,204
4,handle_1286628,id_100000,computer_os_type_203,computer_browser_version_875,country_146,0,anonymous_c1_255,anonymous_c2_235,52,134,204

In [11]:
icdm_df["dev_test_basic"].head()

,drawbridge_handle,device_id,device_type,device_os,country,anonymous_c0,anonymous_c1,anonymous_c2,anonymous_5,anonymous_6,anonymous_7
0,-1,id_1,devtype_2,devos_72,country_146,1,-1,-1,52,1,204
1,-1,id_100002,devtype_4,devos_7,country_146,1,anonymous_c1_322,anonymous_c2_3059,7,1,149
2,-1,id_1000035,devtype_4,devos_68,country_146,-1,anonymous_c1_814,anonymous_c2_1918,17,106,201
3,-1,id_1000099,devtype_2,devos_159,country_146,0,anonymous_c1_736,-1,19,1,203
4,-1,id_1000294,devtype_4,devos_119,country_146,-1,anonymous_c1_261,anonymous_c2_17508,19,147,204

In [8]:
icdm_df["cookie_all_basic"].head()

,drawbridge_handle,cookie_id,computer_os_type,computer_browser_version,country,anonymous_c0,anonymous_c1,anonymous_c2,anonymous_5,anonymous_6,anonymous_7
0,-1,id_10,computer_os_type_203,computer_browser_version_1158,country_146,1,anonymous_c1_1307,anonymous_c2_18778,15,1,204
1,handle_609762,id_100,computer_os_type_133,computer_browser_version_875,country_146,1,anonymous_c1_753,-1,41,1,204
2,handle_1622320,id_1000,computer_os_type_203,computer_browser_version_36,country_146,0,anonymous_c1_906,anonymous_c2_751,40,140,204
3,-1,id_10000,computer_os_type_203,computer_browser_version_36,country_146,1,anonymous_c1_255,anonymous_c2_2725,34,140,204
4,handle_1286628,id_100000,computer_os_type_203,computer_browser_version_875,country_146,0,anonymous_c1_255,anonymous_c2_235,52,134,204

In [27]:
icdm_df["id_all_ip"].shape

(34176619, 9)

In [25]:
import csv
from io import StringIO
import subprocess

def fix_bad_csv(input_file, output_file, bad_col):
    with open(input_file) as f_in:
        with subprocess.Popen("gzip -c > %s" % output_file, shell=True, stdin=subprocess.PIPE) as p:
            for line in f_in:
                row = csv.reader(StringIO(line.strip().replace("{", "\"").replace("}", "\""))).__next__()
                for el in csv.reader(StringIO(row[bad_col].replace("(", "\"").replace(")", "\""))).__next__():
                    p.stdin.write(bytes(",".join(row[:bad_col] + el.split(",")) + "\n", "UTF-8"))
            p.communicate()
        

fix_bad_csv("id_all_property.csv", "id_all_property.csv.gz", 2) # 3rd column

AttributeError: __exit__

In [13]:
'id_all_ip.csv.zip'.split(".")

['id_all_ip', 'csv', 'zip']